<div class="card">
  <div  ng-show ="contentToConvert" id="contentToConvert">
  <div class="card-header">
    <strong>Formulaire De Conge</strong>
  </div>
  <div class="card-body" >
    <form class="form-horizontal">
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Nom</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="RHCON.nom" [(ngModel)]="RHCON.nom"class="form-control" placeholder="Votre Nom">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Prenom</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="RHCON.prenom" [(ngModel)]="RHCON.prenom"class="form-control" placeholder="Votre Prenom">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Matricule</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="RHCON.cin" [(ngModel)]="RHCON.cin"class="form-control" placeholder="Votre Matricule">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Num Telephone</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="RHCON.tel" [(ngModel)]="RHCON.tel" class="form-control" placeholder="+216*******">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Fonction</label>
        <div class="col-md-9">
          <input type="text" id="text-input" name="RHCON.fonction" [(ngModel)]="RHCON.fonction" class="form-control" placeholder="Votre Fonction">
        </div>
      </div>
      
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="date-input">Date Debut Conge</label>
        <div class="col-md-9">
          <input class="form-control" id="date-input" type="date" name="RHCON.dateDebut" [(ngModel)]="RHCON.dateDebut" placeholder="date">
          <span class="help-block">Please enter a valid date</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="date-input">Date Fin Conge</label>
        <div class="col-md-9">
          <input class="form-control" id="date-input" type="date"name="RHCON.dateFin" [(ngModel)]="RHCON.dateFin" placeholder="date">
          <span class="help-block">Please enter a valid date</span>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="text-input">Nombre de Jours</label>
        <div class="col-md-9">
          <input type="text" id="text-input"name="RHCON.nbrJr" [(ngModel)]="RHCON.nbrJr" class="form-control" placeholder="Nombre de jours">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" for="inline-radios">Type De Conge</label>
        <div class="col-md-9 col-form-label">
          <div class="form-check form-check-inline mr-1" id="inline-radios">
            <input class="form-check-input" type="radio" name="RHCON.typeConge" [(ngModel)]="RHCON.typeConge" id="inlineRadio1" value="annuel">
            <label class="form-check-label" for="inlineRadio1">Annuel</label>
          </div>
          <div class="form-check form-check-inline mr-1" id="inline-radios">
            <input class="form-check-input" type="radio" name="RHCON.typeConge" [(ngModel)]="RHCON.typeConge" id="inlineRadio1" value="maladie">
            <label class="form-check-label" for="inlineRadio1">Maladie</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="RHCON.typeConge" [(ngModel)]="RHCON.typeConge" id="inlineRadio2" value="sans solde">
            <label class="form-check-label" for="inlineRadio2">Sans Solde</label>
          </div>
          <div class="form-check form-check-inline mr-1">
            <input class="form-check-input" type="radio" name="RHCON.typeConge" [(ngModel)]="RHCON.typeConge" id="inlineRadio3" value="Maternite">
            <label class="form-check-label" for="inlineRadio3">Maternite</label>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label" >Accord Administration</label>
        <div class="col-md-9 col-form-label">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="RHCON.accordAdmin" [(ngModel)]="RHCON.accordAdmin" id="radio1" value="Accepter" checked>
            <label class="form-check-label" for="radio1">
              Accepter
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio"name="RHCON.accordAdmin" [(ngModel)]="RHCON.accordAdmin" id="radio2" value="Refuser">
            <label class="form-check-label" for="radio2">
              Refuser
            </label>
          </div>
          
        </div>
      </div>
    </form>
  </div>
  </div>






  <div class="card-footer">
    <button type="submit" (click)="submit()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
    <button   (click)="download()" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Download PDF</button>
  </div>
  